@font-face {
  font-family: "Argent Pixel CF";
  src: url("/fonts/argentpixelcf-italic-webfont.woff2") format("woff2"),
    url("/fonts/argentpixelcf-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Addington CF";
  src: url("/fonts/addingtoncf-thin-webfont.woff2") format("woff2"),
    url("/fonts/addingtoncf-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Addington CF";
  src: url("/fonts/addingtoncf-thinitalic-webfont.woff2") format("woff2"),
    url("/fonts/addingtoncf-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, -apple-system, "system-ui", noto, arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
  margin: 8px 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2 {
  font-family: "Argent Pixel CF";
  font-weight: normal;
}

h2 {
  margin-top: 1.5em;
}

article,
.font-serif {
  font-family: Addington CF;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

h3,
h4,
h5,
h6,
.small {
  font-family: Inter, -apple-system, "system-ui", noto, arial, sans-serif;
}

.small {
  font-size: small;
  color: gray;
}

body {
  margin: 2%;
  max-width: 600px;
}

p {
  margin-bottom: 1em;
}

nav ul li {
  display: inline;
  padding-right: 0.5em;
}
