:root {
  /* Colors */
  --cloud: #f9f5f3;
  --oat: #e5d9d4;
  --chai: #c8b8b2;
  --tea: #382a26;
  --puff: #f09292;
  --beam: #ec937c;
  --starlight: #edd495;
  --matcha: #82b78b;
  --comfy: #89c4bf;
  --joycon: #8b8fc3;

  /* Fonts */
  --serif: "Artifex", serif;
  --sans-serif: -apple-system, "system-ui", noto, arial, sans-serif;
  --pixel: "Argent Pixel CF", Inter, sans-serif;
  --mono: "Departure Mono";
}

.color-cloud {
  color: var(--cloud);
}

.color-oat {
  color: var(--oat);
}

.color-chai {
  color: var(--chai);
}

.color-tea {
  color: var(--tea);
}

.color-puff {
  color: var(--puff);
}

.color-beam {
  color: var(--beam);
}

.color-starlight {
  color: var(--starlight);
}

.color-matcha {
  color: var(--matcha);
}

.color-comfy {
  color: var(--comfy);
}

.color-joycon {
  color: var(--joycon);
}
