<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- OpenGraph tags -->
        <meta property="og:title" content="{{ title }}" />
        {% if summary %}
        <meta property="og:description" content="{{ summary }}" />
        {% endif %} {% if description %}
        <meta property="og:description" content="{{ description }}" />
        {% endif %}
        <meta property="og:type" content="article" />
        <meta
            property="og:url"
            content="https://jillian.garden{{ page.url }}"
        />
        {% if hero %}
        <meta property="og:image" content="https://jillian.garden{{ hero }}" />
        {% else %} {% set firstImage = content | getFirstImagePath %} {% if
        firstImage %}
        <meta
            property="og:image"
            content="https://jillian.garden{{ page.url }}{{ firstImage | replace('./', '') }}"
        />
        {% else %}
        <meta
            property="og:image"
            content="https://jillian.garden/icons/heros/tea-hero.png"
        />
        {% endif %} {% endif %}
        <!-- css -->
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/variables.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <!-- favicons -->
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="favicon/site.webmanifest" />
        <link
            rel="mask-icon"
            href="favicon/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#e5d9d4" />
        <meta name="theme-color" content="#e5d9d4" />
        <!-- rss feed -->
        <link
            rel="alternate"
            type="application/rss+xml"
            title="blog"
            href="https://jillian.garden/feed.xml"
        />
        <!-- mastodon attribution -->
        <meta name="fediverse:creator" content="@jillian@sleepy.cool" />
        <title>{{ title }}</title>
    </head>
    <body>
        {% include "partials/head.html" %}
        <main tabindex="-1" id="main-content">
            {% block content %}{% endblock %}
        </main>
    </body>
    {% include "partials/footer.html" %}
</html>
