{% set active_books = collections.book | sort(attribute="data.status") | reverse
%} {% set statusColors = { 'reading': '#82b78b', 'paused': '#edd495',
'finished': '#8b8fc3' } %}

<section class="shelf-table">
    <table>
        <tr>
            <th>Reading</th>
            <th>Status</th>
        </tr>
        {%- for book in active_books %}{%- if book.data.status == 'reading' %}
        <tr>
            <td>
                <a href="{{ book.url }}">{{ book.data.title }}</a>
            </td>
            <td>
                <div
                    class="swatch"
                    style="background-color: {{ statusColors[book.data.status] }}"
                ></div>
                {{ book.data.status }}
            </td>
        </tr>
        {%- endif %}{%- endfor %}
    </table>
    <div class="see-more small">
        <a href="/shelf/books/">see more →</a>
    </div>
</section>
