<h2 class="now font-sans">games</h2>
<ul class="now" role="list">
  {%- for game in collections.game -%}
  <div class="item">
    <h3>
      <a href="{{ game.url }}">{{ game.data.title }}</a>
    </h3>
    <p class="small">Status: {{ game.data.status }}</p>
    {% if game.data.UID %}
    <p class="small"><b>UID:</b> {{ game.data.UID }}</p>
    {% endif %} {% if game.data.special_link %}
    <p class="small special_link">
      <a href="{{ game.data.special_link }}"
        >{{ game.data.special_link_label }} →</a
      >
    </p>
    {% endif %}
  </div>
  {%- endfor -%}
</ul>
