{% set sorted_games = collections.game | sort(attribute="data.status") | reverse
%} {% set statusColors = { 'playing': '#82b78b', 'paused': '#edd495',
'finished': '#8b8fc3' } %}

<section>
    <table>
        <tr>
            <th>Playing</th>
            <th>Status</th>
        </tr>
        {% for game in sorted_games %}
        <tr>
            <td>
                <a href="{{ game.url }}">{{ game.data.title }}</a>
            </td>
            <td>
                <div
                    class="swatch"
                    style="background-color: {{ statusColors[game.data.status] }}"
                ></div>
                {{ game.data.status }}
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
