{% set sorted_watching = collections.watching | sort(attribute="data.status") |
reverse %} {% set statusColors = { 'watching': '#82b78b', 'paused': '#edd495',
'finished': '#8b8fc3' } %}

<section class="shelf-table">
    <table>
        <tr>
            <th>Watching</th>
            <th>Status</th>
        </tr>
        {%- for item in sorted_watching %}
        {%- set normalizedStatus = 'active' if item.data.status == 'watching' else item.data.status %}
        <tr data-status="{{ normalizedStatus }}">
            <td>
                <a href="{{ item.url }}">{{ item.data.title }}</a>
            </td>
            <td>
                <div
                    class="swatch"
                    style="background-color: {{ statusColors[item.data.status] }}"
                ></div>
                {{ item.data.status }}
            </td>
        </tr>
        {%- endfor %}
    </table>
    <p class="shelf-empty" style="display: none;">Nothing here!</p>
</section>
