<section class="font-guide">
  <h3 class="font-serif">Artifex</h3>
  <p>
    Used for most body text. Emphasized text is <strong>italicized</strong> &
    uses the <strong>comfy</strong> color. All other text uses the
    <i>tea</i> color.
  </p>
  <h3 class="font-pixel">argent pixel</h3>
  <p class="font-pixel">
    used sparingly, mostly for page headers & blog post titles. only lowercase.
  </p>
  <h3 class="font-mono">DEPARTURE MONO</h3>
  <p class="font-mono">
    used for code, most headers, some navigation links, and extra flavor. always
    either lowercase or UPPERCASE. has to be sized down.
  </p>
</section>
