{% if page.url == "/" %}
<h1 class="font-pixel">jillian g. meehan</h1>
{% else %}
<nav aria-label="breadcrumb" class="font-pixel">
    {% set navPages = collections.all |
    eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
    <a href="/">Home</a>
    <span class="separator">/</span>
    {% for item in navPages %} {% if item.title | lower != 'home' %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    <span class="separator">/</span>
    {% endif %} {% endfor %}
    <span aria-current="page">{{ title }}</span>
</nav>
{% endif %}

<style>
    nav[aria-label="breadcrumb"] {
        text-transform: lowercase;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-top: 8px;
        line-height: 24px;
    }

    nav[aria-label="breadcrumb"] span.separator {
        color: #666;
    }
</style>
