<h2 class="now font-sans">playing</h2>
<ul class="now" role="list">
  {%- for game in collections.game -%} {% if game.data.status == "playing" %} {%
  if game.data.url -%}
  <h3>
    <a href="{{ game.data.url }}">{{ game.data.title }} </a>
  </h3>
  {% else %}
  <h3>{{ game.data.title }}</h3>
  {% endif %} {% if game.data.UID %}
  <p class="small"><b>UID:</b> {{ game.data.UID }}</p>
  {% endif %}

  <div>{{ game.content | safe }}</div>
  {% if game.data.special_link %}
  <p class="small special_link">
    <a href="{{ game.data.special_link }}"
      >{{ game.data.special_link_label }} →
    </a>
  </p>
  {% endif %} {% endif %} {%- endfor -%}
</ul>
