<nav>
  <h2>index</h2>
  <ul role="list">
    {% for link in links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a>{{ '•' }}</li>
    {% endfor %}
    <li>
      <a rel="me" href="https://sleepy.cool/@jillian">mastodon</a>
    </li>
  </ul>
</nav>

<style>
  nav ul {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    margin: 0;
  }

  nav ul li a {
    margin-right: 8px;
  }

  nav ul li {
    font-family: var(--serif);
  }

  nav ul li a {
    text-decoration: underline;
    color: var(--tea) !important;
  }
</style>
