{% set fullPath = page.filePathStem %} {% set gameId = fullPath |
replace('/games/', '') | replace('/index', '') %} {% if
collections.gamePhotos[gameId] and collections.gamePhotos[gameId].length > 0 %}
<div class="photo-gallery">
    <h2>screenshots</h2>
    {% for photo in collections.gamePhotos[gameId] %}
    <div class="photo">
        <img src="{{ photo.url }}" alt="Screenshot from {{ title }}" />
    </div>
    {% endfor %} {% else %} {% endif %}
</div>

<style>
    .photo-gallery .photo img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
</style>
